{% extends 'base.html' %}
{% block link %}
<link href="{{ url_for('static', filename='show_category.css') }}" rel="stylesheet">
{% endblock %}
{% block title %}
    Search
{% endblock %}
{% block content %}
<div class="showhead">
    <div class="titlehead">
        <h1 class="card-title">Result Of Searching</h1>
        <p class="lead">We have found this recipes for your request</p>
    </div>
    <div class="titleheads">
        {% for title in titles %}
        <h3 class="card-title"><a href="{{ url_for('show_recipe', title=title[0]) }}">{{ title[0] }}</a></h3>
        {% endfor %}
    </div>
</div>
{% endblock %}